<div>
    <h6> {{type}} </h6>
    <h5> {{currency}} {{this.faceValue}} </h5>   
    <p>{{debtorLocation}}</p>
    <p>{{performance}}</p>
    <a href="/claims/{{_id}}/details"><button>Details</button></a>
</div>