<div class="m-5">
    <div class="ms-5">
        <h1 class="mb-5">Claim Details</h1>

        <div class="w-50">
            <table class="table table-hover table-borderless">
                <tbody>
                    {{#each claim}}
                    <tr>
                        <td class="text-capitalize w-25">{{@key}}</td>
                        <td class="text-capitalize w-75">{{this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        {{#if isSeller}}
            <a href="/claims/{{id}}/edit"><button class="btn btn-primary mt-3">Edit</button></a>
            <a href="/claims/{{id}}/delete"><button class="btn btn-primary mt-3">Delete</button></a>
        {{else}}
            <a href="/claims/{{id}}/{{sellerID}}/details"> <button class="btn btn-primary mt-3">View Seller Details</button></a>
        {{/if}}
    </div>
</div>
