<h1 class="m-5">Edit claim</h1>

<div class="d-flex flex-column align-items-center"></div>
    <form class="w-100 ms-5" action="/claims/{{claim._id}}/edit" method="post">

        <label class="form-label w-50 mb-3">Debtor
            <input class="form-control w-100" type="text" name="debtor" value="{{claim.debtor}}" required>
        </label>
        
        <label class="form-label w-50 mb-3">Debtor country
            <select class="form-select w-100 mt-1" name="debtorLocation">
                    <option value={{countries.selected}} selected>{{countries.selected}}</option>
                    {{#each countries.other}}
                        <option value={{this}}>{{this}}</option>
                    {{/each}}
                </select>
        </label>

        <div class="w-50 d-flex">
            <label class="form-label w-25 mb-3">Currency
                <select class="form-select w-100 mt-1" name="currency">
                    <option value={{currencies.selected}} selected>{{currencies.selected}}</option>
                    {{#each currencies.other}}
                        <option value={{this}}>{{this}}</option>
                    {{/each}}
                </select>
            </label>
            <label class="form-label w-75 mb-3">Face Value
                <input class="form-control w-100 mt-1" type="number" min="0" name="faceValue" value={{claim.faceValue}} required>
            </label>
        </div>

        <div class="w-50 d-flex">
            <label class="form-label w-50 mb-3">Claim Type
                <select class="form-select w-100 mt-1" name="claimType">
                    <option value="{{claimTypes.selected}}" selected>{{claimTypes.selected}}</option>
                    {{#each claimTypes.other}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </label>
            <label class="form-label w-50 mb-3 mt-1">Minimum Price (% of Face Value)
                <input class="form-control w-100" type="number" min="0" max="100" name="minimumPrice" value={{claim.minimumPrice}} required>
            </label>
        </div>

        <div class="w-50 d-flex">
            <label class="form-label w-75 mb-3"> Performance
                <select class="form-select w-100 mt-1" name="performance">
                    <option value="{{performanceTypes.selected}}" selected>{{performanceTypes.selected}}</option>
                    {{#each performanceTypes.other}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </label>
            <label class="form-label w-25 mb-3 mt-1">Due Date
                <input class="form-control w-100" type="date" name="maturity" value={{claim.maturity}}>
            </label>
        </div>
        <a href="/claims/{{claim._id}}/details"><button class="btn btn-primary mt-3">Back to Details</button></a>
        <button type="submit" class="btn btn-primary mt-3">Publish changes</button>
    </form>
</div>

