<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <h2 class="mb-4">Claim Details</h2>

            <table class="table w-75">
                <tbody>
                    {{#each claim}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{this}}</td>
                        {{#if @first}}
                            <td>
                                <a href="/claims/{{id}}/{{claim.seller}}/details">
                                    <button class="btn btn-primary btn-sm">Seller Details</button>
                                </a>
                            </td>
                        {{else}}
                            <td></td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <a href="/claims/{{id}}/edit"><button class="btn btn-primary mt-5">Edit</button></a>
            <a href="/claims/{{id}}/delete"><button class="btn btn-primary mt-5">Delete</button></a>
           
        </div>
    </div>
</div>
