<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col mx-5">
            <h2 class="mb-4">{{#if seller.affiliation}}
                Seller: {{seller.affiliation}}
                {{else}}
                Seller: {{seller.firstName}} {{seller.lastName}}
                {{/if}}
            </h2>
            <div class="card w-50">
                <div class="card-body">
                    <p>Contact person: {{seller.firstName}} {{seller.lastName}}</p>
                    <a href="mailto:{{seller.email}}"><button class="btn btn-primary"><i class="bi-envelope"></i> Email Seller </button> </a>
                </div>
            </div>
            <a href="/claims/{{seller.claimId}}/details"><button class="btn btn-primary mt-5">Back to Claim</button></a>
            {{#if seller.listedClaims}}
                <h4 class="mt-5">Other Listed Claims</h4>
                <div class="mt-5 w-75">
                    {{#each seller.listedClaims}}
                        {{> claimSummary this}}
                    {{/each}}
                </div>
            {{else}}
                <h2 class="mt-5">Other Listed Claims</h2>
                <p class="text-muted">No other claims listed yet.</p>
            {{/if}}
            <br>
        </div>
    </div>
</div>

