<h1 class="m-5">List new claim</h1>

<div class="d-flex flex-column align-items-center"></div>
    <form class="w-100 ms-5" action="/claims/create" method="post">

        <label class="form-label w-50 mb-3">Debtor
            <input class="form-control w-100" type="text" name="debtor" value="{{claim.debtor}}" required>
        </label>
        
        <label class="form-label w-50 mb-3">Debtor country
            <input class="form-control w-100" type="text" name="debtorLocation" value="{{claim.debtorLocation}}" required>
        </label>

        <div class="w-50 d-flex">
            <label class="form-label w-25 mb-3">Currency
                <select class="form-select w-100 mt-1" name="currency">
                    <option value="EUR" {{#if claim.EUR}} {{claim.EUR}} {{/if}}>EUR</option>
                    <option value="USD" {{#if claim.USD}} {{claim.USD}} {{/if}}>USD</option>
                    <option value="GBP" {{#if claim.GBP}} {{claim.GBP}} {{/if}}>GBP</option>
                </select>
            </label>
            <label class="form-label w-75 mb-3">Face Value
                <input class="form-control w-100 mt-1" type="number" min="0" name="faceValue" value={{claim.faceValue}} required>
            </label>
        </div>

        <div class="w-50 d-flex">
            <label class="form-label w-50 mb-3">Claim Type
                <select class="form-select w-100 mt-1" name="claimType">
                    <option value="Corporate"{{#if claim.Corporate}} {{claim.Corporate}} {{/if}} >Corporate</option>
                    <option value="Consumer" {{#if claim.Consumer}} {{claim.Consumer}} {{/if}}>Consumer</option>
                    <option value="Retail Mortgage"{{#if claim.[Retail Mortgage]}} {{claim.[Retail Mortgage]}} {{/if}}>Retail Mortgage</option>
                    <option value="Commercial Real Estate" {{#if claim.[Commercial Real Estate]}} {{claim.[Commercial Real Estate]}} {{/if}}>Commercial Real Estate</option>
                    <option value="Trade" {{#if claim.Trade}} {{claim.Trade}} {{/if}}>Trade</option>
                </select>
            </label>
            <label class="form-label w-50 mb-3 mt-1">Minimum Price (% of Face Value)
                <input class="form-control w-100" type="number" min="0" max="100" name="minimumPrice" value={{claim.minimumPrice}} required>
            </label>
        </div>

        <div class="w-50 d-flex">
            <label class="form-label w-75 mb-3"> Performance
                <select class="form-select w-100 mt-1" name="performance">
                    <option value="performing" {{#if claim.performing}} {{claim.performing}} {{/if}}>Performing</option>
                    <option value="defaulted" {{#if claim.defaulted}} {{claim.defaulted}} {{/if}}>Defaulted</option>
                    <option value="stressed" {{#if claim.stressed}} {{claim.stressed}} {{/if}}>Stressed</option>
                </select>
            </label>
            <label class="form-label w-25 mb-3 mt-1">Due Date
                <input class="form-control w-100" type="date" name="maturity" value={{claim.maturity}}>
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Publish changes</button>
    </form>
</div>

