<div class="container">
    <div class="row">
        <h1>{{#if seller.affiliation}}
                {{seller.affiliation}}
            {{else}}
            {{seller.firstName}} {{seller.lastName}}
            {{/if}}
        </h1>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <p>Contact person: {{seller.firstName}} {{seller.lastName}}</p>
                <p>email address:  {{seller.email}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary" href="/claims/{{seller.claimId}}/details]" role="button">Back to claim details</a></div>
    </div>
    <div class="row">


    <h1 class="m-2 mb-4">Other listed claims</h1>

<div class="m-2">
    {{#each seller.listedClaims}}

        {{> claimSummary this}}

    {{/each}}
</div>
